<div class="text-right">
    <button mat-icon-button matSuffix mat-dialog-close >
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="bg-div container w-100">
    <div class="pt-1">
        <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>
                                {{ 'Name' | translate }}
                            </mat-label>
                            <input matInput formControlName="firstName" [readonly]="loading"
                            [class.is-invalid]="hasCustomError(userForm, 'firstName')" />
                            <mat-error *ngIf="hasCustomError(userForm, 'firstName')">
                                {{ 'First-Name-Is-Required' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>
                                {{ 'Email' | translate }}
                            </mat-label>
                            <input matInput formControlName="email" [readonly]="loading"
                            [class.is-invalid]="hasCustomError(userForm, 'email')" />
                            <mat-error *ngIf="hasPatternError(userForm, 'email')">
                                {{ 'Invalid-Email-Address' | translate }}
                            </mat-error>
                            <mat-error *ngIf="hasCustomError(userForm, 'email')">
                                {{ 'Email-Is-Required' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>
                                {{ 'Last-Name' | translate }}
                            </mat-label>
                            <input matInput formControlName="lastName" [readonly]="loading"
                            [class.is-invalid]="hasCustomError(userForm, 'lastName')" />
                            <mat-error *ngIf="hasCustomError(userForm, 'lastName')">
                                {{ 'Last-Name-Is-Requireds' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>
                                {{ 'Password' | translate }}
                            </mat-label>
                            <input matInput type="password" formControlName="password" [readonly]="loading"
                            [class.is-invalid]="hasCustomError(userForm, 'password')" />
                            <mat-error *ngIf="hasCustomError(userForm, 'password')">
                                {{ 'Password-Is-Required.' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="form-group pt-3">
                <mat-form-field>
                    <mat-label>
                        {{ 'Select-Disease' | translate }}
                    </mat-label>
                    <mat-select formControlName="diseaseId">
                        <mat-option [value]='null' [disabled]="loading">{{ 'Select-Disease' | translate }}</mat-option>
                        <ng-container *ngIf="disease!=null">
                            <mat-option *ngFor="let element of disease.diseases" [disabled]="loading"
                                [value]="element.id">
                                    {{element.diseaseName}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="hasCustomError(userForm, 'diseaseId')">
                        {{ 'Please-Choose-Disease' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <form [formGroup]="deviceForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>
                                {{ 'Device-Name' | translate }}
                            </mat-label>
                            <input matInput formControlName="deviceName" [readonly]="loading"
                            [class.is-invalid]="hasCustomError(deviceForm, 'deviceName')" />
                            <mat-error *ngIf="hasCustomError(deviceForm, 'deviceName')">
                                {{ 'Device-Name-Is-Required' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>
                                {{ 'Indicators' | translate }}
                            </mat-label>
                            <mat-select formControlName="indicatorIds" multiple>
                                <ng-container *ngIf="indicator!=null">
                                    <mat-option *ngFor="let element of indicator.indicators" [disabled]="loading" 
                                    [value]="element.id">
                                        {{element.indicatorName}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error *ngIf="hasCustomError(deviceForm, 'indicatorIds')">
                                {{ 'Please-Choose-Indicators' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <div class="form-group pt-3">
            <mat-button-toggle-group>
                <button [disabled]="loading" mat-raised-button color="primary" class="btn-block" (click)="onSubmit()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ 'Create' | translate }}
                </button>
                <mat-button-toggle (click)="resetForm()">
                    <mat-icon>cached</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>