.mat-form-field {
    width: 100%;
}

.mat-button-toggle-group {
    width: 100%;
}

.bg-div {
    height: 100% !important;
    box-shadow: 0px 6px 13px rgba(21, 33, 56, 0.533345);
    background-color: #2F3B52 !important;
}

input, textarea {
    caret-color: white;
}

::ng-deep input.mat-input-element {
    color:white !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color:white !important;
}
  
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color:white !important;
}
  
::ng-deep .mat-form-field-label {
    color: white !important;
}
  
::ng-deep .mat-form-field-underline{
    background-color:white !important;
}
  
::ng-deep .mat-form-field.ng-dirty.ng-invalid .mat-form-field-label {
    color: #EF4337 !important;
}

::ng-deep .mat-select-value {
    color: white !important;
}

::ng-deep .mat-select-arrow {
    color: white !important;
}
  