<div class="text-right">
    <button mat-icon-button matSuffix mat-dialog-close >
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="bg-div container w-100">
    <span *ngIf="!userInfo" class="spinner-border spinner-border-sm mr-1"></span>
    <div class="pt-1" *ngIf="userInfo">
        <div>
            <em>
                {{ 'Hello' | translate }}, {{userInfo.firstName}}
                 &nbsp; {{userInfo.lastName}}
            </em>
            <p>
                <em>
                    {{ 'You-Are-Logged' | translate }}
                </em>
            </p>
        </div>
        <div class="form-group pt-3 text-right">
            <button mat-raised-button mat-dialog-close>
                {{ 'OK' | translate }}
            </button>
        </div>
    </div>
</div>