<div class="text-right">
    <button mat-icon-button matSuffix mat-dialog-close >
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="bg-div container w-100">
    <span *ngIf="!userInfo" class="spinner-border spinner-border-sm mr-1"></span>
    <div class="pt-1" *ngIf="userInfo">
        <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>
                                {{ 'Name' | translate }}
                            </mat-label>
                            <input matInput formControlName="firstName"
                            [class.is-invalid]="hasCustomError(userForm, 'firstName')" />
                            <mat-error *ngIf="hasCustomError(userForm, 'firstName')">
                                {{ 'First Name' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>
                                {{ 'Email' | translate }}
                            </mat-label>
                            <input matInput formControlName="email"
                            [class.is-invalid]="hasCustomError(userForm, 'email')" />
                            <mat-error *ngIf="hasPatternError(userForm, 'email')">
                                {{ 'Invalid-Email-Address' | translate }}
                            </mat-error>
                            <mat-error *ngIf="hasCustomError(userForm, 'email')">
                                .
                                {{ 'Email-Is-Required' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>
                                {{ 'Last-Name' | translate }}
                            </mat-label>
                            <input matInput formControlName="lastName"
                            [class.is-invalid]="hasCustomError(userForm, 'lastName')" />
                            <mat-error *ngIf="hasCustomError(userForm, 'lastName')">
                                {{ 'Last-Name-Is-Requireds' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>
                                {{ 'Password' | translate }}
                            </mat-label>
                            <input matInput type="password" formControlName="password"
                            [class.is-invalid]="hasCustomError(userForm, 'password')" />
                            <mat-error *ngIf="hasCustomError(userForm, 'password')">
                                {{ 'Password-Is-Required.' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <div class="form-group pt-3 text-right">
            <mat-button-toggle-group>
                <button mat-raised-button mat-dialog-close>
                    {{ 'Close' | translate }}
                </button>
                <button [disabled]="loading" mat-raised-button color="primary" (click)="onSubmit()">
                    {{ 'Save' | translate }}
                </button>
            </mat-button-toggle-group>
        </div>
    </div>
</div>