<div class="bg-table" *ngIf="userList$ | async as userList">
    <div class="table-responsive">
        <table class="table borderless text-center text-white">
            <thead>
                <tr>
                    <th class="align-middle font-weight-light"> Photo </th>
                    <th class="align-middle font-weight-light"> Full Name </th>
                    <th class="align-middle font-weight-light"> Email </th>
                    <th class="align-middle font-weight-light"> Disease </th>
                    <th class="align-middle font-weight-light"> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList; let i = index">
                    <td class="w-25">
                        <img class="img-fluid-1" src="assets/images/icon-account.png">
                    </td>
                    <td class="align-middle">
                        {{ user.firstName }} {{ user.lastName }}
                    </td>
                    <td class="align-middle">
                        {{ user.email }}
                    </td>
                    <td class="align-middle">
                        {{ user.disease?.diseaseName }}
                    </td>
                    <td class="align-middle">
                        <button class="btn btn-danger btn-block btn-sm" (click)="openDeleteDialog(user.id)"
                         [disabled]='userdeleted'> 
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>