.bg-div {
    height: 100% !important;
    background-color: #242E42 !important;
}

.container {
    max-height: 100% !important;
    max-width: 100% !important;
}

.text-size-1 {
    font-size: 30px;
}

::ng-deep .mat-dialog-container {
    background-color: #242E42;
    color: #039be5;
}
