.mat-form-field {
    width: 100%;
}

.mat-button-toggle-group {
    width: 100%;
}

.bg-div {
    height: 100% !important;
    background-color: #2F3B52 !important;
}

input, textarea {
    caret-color: #A2B3CD;
}

.container {
    max-width: 70%;
}

::ng-deep input.mat-input-element {
    color: #A2B3CD  !important;
}

::ng-deep .mat-form-field-label {
    color: #A2B3CD !important;
}
  
::ng-deep .mat-form-field-underline{
    background-color:#A2B3CD !important;
}

::ng-deep .mat-select-value {
    color: #A2B3CD !important;
}

::ng-deep .mat-select-arrow {
    color: #A2B3CD !important;
}

::ng-deep .mat-dialog-container {
    background-color: #242E42;
    color: #039be5;
}
  