<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav bg-div" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="text-white">          
      <span class="font-weight-bold">{{ 'Health' | translate }}</span>
      <span>
        {{ 'Control' | translate }}
      </span>
    </mat-toolbar>
    <mat-nav-list>
      <div *ngIf="userAuthenticated()">
        <ul class="text-left" style="list-style: none;">
          <li class="pl-4">
            <img class="img-fluid-1" src="assets/images/icon-account.png">
          </li>
          <li>
            <em class="text-deactive">
              {{ userData?.firstName }} &nbsp; {{ userData?.lastName }}
            </em>
          </li>
          <li>
            <em class="text-deactive">
              {{ getRole() }}
            </em>
          </li>
        </ul>
      </div>
      <div class="pt-5" *ngIf="isAdmin">
        <a class="text-deactive" mat-list-item [routerLink]="['/admin']" 
        routerLinkActive="active">
          {{ 'Create-User' | translate }}
        </a>
      </div>
      <div class="pt-5" *ngIf="isUser">
        <a class="text-deactive" mat-list-item [routerLink]="['/user/account']" 
        routerLinkActive="active">
          {{ 'Account' | translate }}
        </a>
        <a class="text-deactive" mat-list-item [routerLink]="['/user/analytics']" 
        routerLinkActive="active"> 
          {{ 'Analytics' | translate }}
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="bg-div">
    <mat-toolbar class="bg-div">
      <mat-toolbar-row>
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <span class="example-spacer"></span>
      <button mat-raised-button (click)="logout()" *ngIf="userAuthenticated()">
        {{ 'Logout' | translate }}
        <mat-icon>exit_to_app</mat-icon>
      </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
  