<div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-info">
        <strong>Normal User </strong> - U: User222 P: 111111
        
    <div class="card">
        <h4 class="card-header">Login template test</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [class.is-invalid]="hasCustomError(loginForm, 'username')" />
                    <span class="form-group help-block form-control"  *ngIf="hasCustomError(loginForm, 'username')">
                        Username is required
                    </span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [class.is-invalid]="hasCustomError(loginForm, 'password')"  />
                    <span class="form-group help-block form-control"  *ngIf="hasCustomError(loginForm, 'password')">
                         Password is required
                    </span>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
               
            </form>
        </div>
    </div>
</div>