.mat-form-field {
    width: 100%;
}

.bg-img{
  min-height: 100vh;
  width: 100%;
  background: url("/assets/images/3fd24f8f6ccf958ed761b7ae34f95df6.jfif") no-repeat fixed;
  background-color: (215.59deg, rgba(238, 238, 238, 0.0001) -2.29%, #D8D8D8 116.49%);
  background-size: cover;
}
/*
.bg-blue-color {
    color: white;
    background-color: #232E42;
}

::ng-deep input.mat-input-element {
    color: white !important;
  }
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
  }
  
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: white !important;
  }
*/